<div class="row" style="height:400px;">
    <div class="panel panel-default">
        <div class="panel-heading">
            用户列表
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>用户名</th>
                    <th>昵称</th>
                    <th>手机</th>
                    <th>邮箱</th>
                </tr>
                </thead>
                <tbody ng-repeat="">
                <tr>
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                    <td>560001</td>
                </tr>
                </tbody>
            </table>
            <br/>
            <br/>
        </div>
    </div>
</div>